################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FastInserts/.vs/FastInserts
/FastInserts/FastInsertsConsole/bin
/FastInserts/FastInsertsConsole/obj
